# Copie ce fichier en .env dans le dossier backend
# et remplace les valeurs par les mots de passe réels.

SBL_USER_SEBASTIEN=Sébastien
SBL_PASS_SEBASTIEN=change_this_password

SBL_USER_BLESSING=Blessing
SBL_PASS_BLESSING=change_this_password

SBL_USER_JAABIR=Jaabir
SBL_PASS_JAABIR=change_this_password

JWT_SECRET=change_this_secret
PORT=3000
